.container {
  max-width: 764px;
  height: 640px;
  margin: auto;
  margin-top: 30px;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .container {
    height: auto;
    margin-top: 0px;
  }
}