/* Base */

.display-none {
  visibility: hidden;
}
.position-relative {
  position: relative;
}
.mt-3 {
  margin-top: 3rem
}

/* Form */


.formBackground {
  box-sizing: border-box !important;
  height: 100%;
  position: relative;
  background-color: #E0EDFF;
}

.paperSpace {
  margin: 15px;
  margin-bottom: 0px;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

/* Slides */
.slideContent {
  padding: 30px !important;
  overflow: auto;
  max-height: 300px;
}

/* Navigation buttons */
.tabPanel {
  position: absolute !important;
  bottom: 20px !important;
  left: 50%;
  transform: translateX(-50%)
}

.tabButton {
  border-radius: 50% !important;
  min-width: 48px !important;
  padding: 0 !important;
}

/* next prev buttons */

.navBase {
  background-color: #006eee;

  margin: 0 15px 30px;
  padding: 0;
  position: relative;
  border-radius: 3px;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.nextButton {
  background-color: #006eee !important;
  bottom: 0px !important;
  margin: 0 !important;
  left: 50%;
  width: 50%;
  transform: translateX(-100%);
  z-index: 100;
  border-top-right-radius: 0 !important;
}
.nextButton:hover {
  z-index: 1000
}

.prevButton {
  background-color: #006eee !important;
  bottom: 0px !important;
  margin: 0 !important;
  left: 0;
  width: 50%;
  z-index: 100;
  border-top-left-radius: 0 !important;
}
.prevButton:hover {
  z-index: 1000
}